<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="root" class="Root" scope="singleton" />

    <bean id="projectEditForm" class="ProjectEditForm" scope="session"/>

    <bean id="dashboardForm" class="DashboardForm" scope="session" />

    <bean id="portfolioForm" class="PortfolioForm" scope="session" >
        <property name="root" ref="root"/>
    </bean>

    <bean id="hotelForm" class="HotelForm" scope="session" >
        <property name="root" ref="root"/>
    </bean>

</beans>